
.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.list-group-item:hover {
    background-color: #007bff; /* Couleur de fond au survol à changer selon vos préférences */
    color: #ffffff; /* Couleur du texte au survol à changer selon vos préférences */
}

.list-group-item.active {
    background-color: #007bff; /* Couleur de fond de l'élément actif à changer selon vos préférences */
    color: #ffffff; /* Couleur du texte de l'élément actif à changer selon vos préférences */
}

/* Carte de produit */
.card {
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05); /* Effet de zoom au survol à changer selon vos préférences */
}

.card-title {
    color: #007bff; /* Couleur du titre de la carte à changer selon vos préférences */
    transition: color 0.3s ease-in-out;
}

.card-title:hover {
    color: #0056b3; /* Nouvelle couleur du titre au survol à changer selon vos préférences */
}

.card-text {
    color: #6c757d; /* Couleur du texte de la carte à changer selon vos préférences */
}

/* Bouton */
.btn {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-primary {
    background-color: #007bff; /* Couleur de fond du bouton à changer selon vos préférences */
    color: #ffffff; /* Couleur du texte du bouton à changer selon vos préférences */
}

.btn-primary:hover {
    background-color: #0056b3; /* Couleur de fond au survol du bouton à changer selon vos préférences */
}

.btn-warning {
    background-color: #ffc107; /* Couleur de fond du bouton à changer selon vos préférences */
    color: #212529; /* Couleur du texte du bouton à changer selon vos préférences */
}

.btn-warning:hover {
    background-color: #d39e00; /* Couleur de fond au survol du bouton à changer selon vos préférences */
}
.titre {
    font-size: 1.5em;
    color: #fff; /* Couleur du texte */
    text-align: center;
    margin-top: 7%;
    }
    
    /* Ajout d'une animation de rebondissement */
    @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
    }
    
    .titre {
    animation: bounce 2s ease-in-out infinite;
    }
    
    /* Ajout d'une animation de changement de couleur */
    @keyframes colorChange {
    0% {
      color:  rgba(143, 64, 248, .25);
    }
    50% {
      color: #26caf8 ; /* Couleur pendant le changement */
    }
    100% {
      color: #fff;
    }
    }
    
    .titre {
    animation: colorChange 3s ease-in-out infinite;
    }
    @keyframes zoomInOut {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    }

    .butn {
      padding: 15px 15px;
      font-size: 1.5rem;
      cursor: pointer;
      border: 0px;
      background: transparent;
      position: relative;
      transition: all .2s;
      overflow: hidden;
      color: #5a728d;
      border-radius: 30px;
      box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
      
      }
      
      .butn:hover {
        transform: translate(0,-6px);
        box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
      }